
#projects{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 91vh;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

#projects .title{
    font-family: 'DM Serif Display';
    text-transform: uppercase;
    letter-spacing: 7px;
    color: rgb(145, 143, 143);
    text-align: center;
}
#projects .testimonialsContainer{
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 1em;
}

#projects .testimonialsContainer .testimonial{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 26%;
    gap: 2em;
}
#projects .testimonialsContainer div img{
    border-radius: 50%;
}
#projects .testimonialsContainer p{
    width: 100%;
    text-align: center;
    line-height: 2;
    text-wrap: balance;
}
#projects .testimonialsContainer .testimonialUser{
    color: #272743;
}
#projects .testimonialsContainer h3{
    margin: 0;
    text-align: center;
    font-family: 'DM Serif Display';
    font-weight: bold;
    color: #0c0c4c;
}
#projects .testimonialsContainer sub{
    color: rgb(96, 93, 93);
}



@media (max-width: 630px){
    #projects{
        height: fit-content;
        gap: 2em;
    }
    #projects .testimonialsContainer{
        flex-direction: column;
        align-items: center;
    }
    #projects .testimonialsContainer{
        width: 100vw;
        padding: 0;
    }
    #projects .testimonialsContainer .testimonial{
        align-items: center;
        width: 80vw;
    }
}