.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: calc(100vw - 3em);
    background: #3ebfff;
}
.header ul {
    display: flex;
    align-items: center;
    gap: 2em;
}
.header ul li{
    cursor: pointer;
    list-style: none;
    color: white;
}
.header ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.contact{
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: black !important;
    background: white;
    width: 8em;
    height: 3em;
    font-size: .8em;

    transition: all .7s;
}
.contact:hover{
    background-color: #d2ecff77;
    color: white !important;
    backdrop-filter: .1;
}

@media (max-width: 630px){
    .header{
        padding: .5em 0;
        width: 100vw;
    }
    .header ul{
        display: none;
    }
    .header img{
        margin-left: .5em;
    }
    .menu{
        display: block;
    }
}