#services{
    width: 100vw;
    height: 91vh;
    display: flex;
}
#services .left, #services .right{
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
#services .left div, #services .right div{
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    margin-bottom: 2em;
}
#services .right div{
    margin-bottom: 4em;
}
#services .left div h2, #services .right div h2{
    margin: 0;
    font-size: 3em;
    font-family: "DM Serif Display";
}
#services .left div p, #services .right div p{
    width: 70%;
    line-height: 2;
    font-weight: bold;
}
#services .left div h2{
    color: #055244;
}

#services .right div h2{
    color: #052b3a;
}

#services .left div p {
    color: #1a7866;
}
#services .right div p{
    color: #094d67;
}

@media (max-width: 630px){
    #services{
        flex-direction: column;
        height: fit-content;
    }
    #services .left, #services .right{
        width: 100%;
        height: 100vh;
    }
    #services .left{
        background-image: url('../../assets/images/mobile/image-graphic-design.jpg');
    }
    #services .right{
        background-image: url('../../assets/images/mobile/image-photography.jpg');
    }
    #services .left div, #services .right div{
        width: 100%;
    }
}