

.imgsContainer{
    width: 100vw;
    height: 60vh;
    display: flex;
}
.imgsContainer .left, .imgsContainer .right{
    display: flex;
    width: 50%;
    height: 100%;
}
.imgsContainer .left div, .imgsContainer .right div{
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

@media (max-width: 630px) {
    .imgsContainer{
        flex-direction: column;
    }
    .imgsContainer .left, .imgsContainer .right{
        width: 100%;
    }
}