@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body{
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed';
}

.privacy-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1b1d29;
    z-index: 100;
  }
  