#about{
    width: 100vw;
    height: 75vh;
    display: flex;
    overflow-x: hidden;
}

#about .left, #about .right{
    width: 50%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .right{
    background-position: center center;
    background-repeat: none;
    background-size: cover;
}
#about .left div{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
#about .left div h1{
    font-family: "DM Serif Display", serif;
    display: block;
    width: 80%;
    text-align: left;
    font-weight: bold;
    font-size: 3em;
    margin: 0;
}
#about .left p{
    width: 100%;
    text-wrap: balance;
    color: rgb(105, 101, 101);
    line-height: 1.8;
}
#about .left div a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}


#about-2{
    width: 100vw;
    height: 75vh;
    display: flex;
}

#about-2 .left, #about-2 .right{
    width: 50%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-2 .left{
    background-position: center center;
    background-repeat: none;
    background-size: cover;
}

#about-2 .right div{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
#about-2 .right div h1{
    font-family: "DM Serif Display", serif;
    display: block;
    width: 80%;
    text-align: left;
    font-weight: bold;
    font-size: 3em;
    margin: 0;
}
#about-2 .right p{
    width: 100%;
    text-wrap: balance;
    color: rgb(105, 101, 101);
    line-height: 1.8;
}
#about-2 .right div a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}


@media (max-width: 630px){
   #about{
    flex-direction: column-reverse;
    height: 100vh;
   }
    #about-2{
    flex-direction: column;
    height: 100vh;
   }
   #about .right, #about .left , #about-2 .right, #about-2 .left{
    width: 100vw;
   }
   #about .left, #about .right, #about-2 .left, #about-2 .right{
    height: 100vh;
   }
   #about .left div, #about-2 .right div{
    margin: 2em 0;
   }
}